.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
  }
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
 
}

@media (max-width: 600px) {
  
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
